@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form method ="post">
        <input name="search" type="text" size="100" />
         <INPUT TYPE="SUBMIT" NAME="BN" VALUE ="Найти">
    </form>

    <table class="table">
        <tr><td>Id</td><td>Name</td><td>Surname</td><td>Second Name</td><td>Date Registration</td><td>Aboniment</td></tr>
    @foreach(var item in @Model)
    {
         <tr><td>@item.Id</td><td>@item.Name</td><td>@item.Surname</td><td>@item.SecondName</td><td>@item.DateRegistration</td><td>@item.Aboniment</td><td><a href="/Costumers/Delete/@item.Id">Удалить</a></td><td><a href="/Costumers/Update/@item.Id">Редактировать</a></td></tr>
    }
    </table>
</div>
